* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;

    & .btn {
        background-color: #0af;
        color: #fff;
        outline: none;
        border: none;
        font-size: 1.25rem;
        border-radius: .3em;
        padding: .5rem .75rem;
        margin: none;
        text-align: center;

        &::after {
            position: absolute;
            content: '';
            background: none;
            text-align: center;
            color: black;
            transform: translate(-175%, 250%);
            animation: rotation 2s linear forwards;
            animation-play-state: paused;
        }

        &:focus {
            &::after {
                animation-play-state: running;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes rotation {
    1% {
        content: 'Loading';
        transform: translate(-175%, 250%) rotate(0deg);
    }

    25% {
        content: 'Loading.';
        transform: translate(calc(-175% + .5em), 250%) rotate(45deg);
    }

    50% {
        content: 'Loading..';
        transform: translate(calc(-175% + 1em), 250%) rotate(0deg);
    }

    75% {
        content: 'Loading...';
        transform: translate(calc(-175% + 1.5em), 250%) rotate(-45deg);
    }

    100% {
        content: 'Loaded';
        transform: translate(-175%, 250%) rotate(0deg);
    }
}