* {
    box-sizing: border-box;
}

.btn {
    background-color: #e6e6e6;
    border:1px solid #b3b3b3;
    outline: none;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
}

.btn.btn:hover, .btn.btn:focus {
    background-color: #d9d9d9;
    box-shadow: 0 0 .4em 0 #b3b3b3;
}

.btn.btn-primary {
    background-color: #8830bb;
    border-color: #420a55;
    color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #7a20aa;
    box-shadow: 0 0 .4em 0 #420a55;
}

.btn.btn-accent {
    background-color: #298dc7;
    border-color: #095d97;
    color: #fff;
}

.btn.btn-accent:hover, .btn.btn-accent:focus {
    background-color: #095d97;
    box-shadow: 0 0 .4em 0 #054d87;
}

.btn.btn-danger {
    background-color: #c72929;
    border-color: #a70909;
    color: #fff;
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
    background-color: #a70909;
    box-shadow: 0 0 .4em 0 #790606;
}

.btn.btn-large {
    font-size: 1.25em;
}

.btn.btn-small {
    font-size: .75em;
}

.btn.btn-pill {
    border-radius: 10000000px;
}

.btn.btn-custom {
    background: linear-gradient(to right, #b00b69, #420a55, #042069);
    color:white;
    border-color: #222;
}

.btn.btn-custom:hover, .btn.btn-custom:focus {
    background: linear-gradient(to right, #80094c, #2d073a, #010a36);
    color:white;
    border-color: black;
    box-shadow: 0 0 .4em 0 black;
}