* {
    box-sizing: border-box;
}

.Input {
    --border-color: #aaa;

    border: 1px solid var(--border-color);
    outline: none;
    font-size: inherit;
    padding: .5em;
    border-radius: .2em;
    
    &:focus {
        --border-color: #0AF;
        box-shadow: 0 0 5px 0 var(--border-color);
    }

    &.InputSuccess {
        --border-color: #37ae60;

        &:focus {
            --border-color: #0f0;
        }
    }

    &:disabled {
        background-color: #eaeaea;
        --border-color: #ccc;
        color: #999;
        cursor: not-allowed;
    }

    &.InputError {
        --border-color: #eb5757;

        &:focus {
            --border-color: #F00;
        }
    }

    &.InputLarge  {
        font-size: 1.25em;
    }

    &.InputSmall {
        font-size: .6em;
    }
}