@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "NotoColorEmoji";
	src: url(../fonts/NotoColorEmoji-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BootstrapIcons";
	src: url(../fonts/bootstrap-icons.woff) format("woff"), url(../fonts/bootstrap-icons.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Roboto", cursive;
}

* {
	--primary-color: #007681;
	--primary-color-darkened: #005e66;
	--secondary-color: #61965a;
	--accent-color: #8e5996;
	--accent-color-secondary: #fefae0;
	--tertiary-color: #e0ebdf;
}
