header {
    display: flex;
    justify-content: space-between;
    max-width: 100em;
    margin: .5em auto;

    & img {
        width: 20em;
        height: auto;
    }

    & p {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        transform: translateY(-0.675em);
    }

    & div {
        display: flex;
    }

    & button {
        margin: 1em;
    }
}