* {
    box-sizing: border-box;
    flex-wrap: wrap;
}
main {
    max-width: 100em;
    margin: .5em auto;
}


.horizontal-list {
    display: inline;
}

section div {
    padding-left: 1em;
}

section h2 {
    font-size: 5em;
    color: teal;
    padding-left: 12.5vw;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    align-items: center;
}

.feature-list img{
    width: auto;
    height: 200px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (max-width: 700px) {
    section h2 {
        font-size: 3em;
    }
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0em;
}

.contact-form {
    display:flex;
    flex-direction: column;

    max-width: 700px;
    width: 50vw;
    min-width: 300px;

    & label {
        text-align: left;
    }

    & .btn-pill {
        --background-color: teal;
        --border-color: #054d87;
        --text-color: cornsilk;

        margin: 1em 0em;
        position: relative;
        width: 35%;
        max-width: 150px;
        left: 50%;
        transform: translateX(-50%);

        font-weight: bold;
        border: none;

        transition: 200ms ease-in-out;

        &:hover {
            transform: translate(-50%) scale(1.1);
            box-shadow: 0 0 .4em 0 var(--border-color);
        }
    }
}