* {
    box-sizing: border-box;
    flex-wrap: wrap;
}
main {
    max-width: 100em;
    margin: .5em auto;
}


.horizontal-list {
    display: inline;
}

section div {
    padding-left: 1em;
}

section h2 {
    font-size: 5em;
    color: teal;
    padding-left: 12.5vw;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    align-items: center;
}

.feature-list img{
    width: auto;
    height: 200px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}



#Contact div {
    padding-left: 10rem;
}

@media (max-width: 700px) {
    section h2 {
        font-size: 3em;
    }
}