nav {
  display: flex;

  & ul {
      background-color: teal;
      padding: .5em .5em .5em 4em;
      font-size: 1.3em;
      width: 100%;
  }

  & li {
      background-color: teal;
      color: cornsilk;
      padding: .5em;
      display: inline;
      margin: 1em 0em;
  }

  & li:hover {
      background-color: #006868;
  }

  & a {
      color: inherit;
      text-decoration: none;
  }
}
