nav {
	position: fixed;
	display: flex;
	background-color: var(--primary-color);
	width: 100%;
	z-index: 3;

	padding: 0 0 0 4em;

	& .nav-btn {
		padding: 0.5em;
		margin: 0;

		background-color: var(--primary-color);
		color: var(--accent-color-secondary);
		font-size: 1.3rem;
		border: none;

		&:hover {
			background-color: var(--primary-color-darkened);
		}
	}
}

@media (max-width: 700px) {
	nav {
		& .nav-btn {
			font-size: 1rem;
			padding: 0.4em;
		}
		& ul {
			font-size: 1rem;
			padding: 0;
		}

		& li {
			padding: 0.5em;
			display: inline-block;
			margin: 0;
		}
	}
}
