.pricing-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & .pricing-container-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        border: 1px solid #000;
        border-radius: .3em;

        padding: 1.5rem;

        margin: 1rem 0;

        width: 25vw;
        height: 50vh;
        min-width: max-content;

        transition: transform 100ms;
        &:first-of-type {
            border-right: none;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            transform-origin: right;

            z-index: 1;
        }
        &:last-of-type {
            border-left: none;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            transform-origin: left;

            z-index: 1;
        }

        &.accent {
            background-color: #A1FCDF;
            margin: 0;
            font-size: 1.25rem;
            padding-top: 0;

            height: 55vh;

            & h3 {
                padding: none;
                margin: none;
                font-size: 2.5rem;
            }

            & p {
                padding: none;
                margin: 0 0 1rem 0;
            }

            z-index: 2;
        }

        & ul {
            list-style: none;
            text-align: left;
            
            padding: 0;
            & li::before {
                font-family: 'NotoColorEmoji';
                font-size: .75em;
                content: "✅";
                padding: 0 .3em 0 0;
            }
        }

        &:hover {
            transform: scale(1.05);
        }

        & h3 {
            font-size: 2rem;
        }
        & p {
            font-weight: bold;
            font-size: 2rem;
            
            &::after {
                content: "/mo";
                color: #777;
                font-size: .75em;
            }

            &#free::after {
                content: " ";
            }
        }
    }
}

#btn-trial {
    margin: 2rem 0 1rem 0;
    position: relative;
    width: 35%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: bold;
    font-size: 2rem;
    background-color: teal;
    color: cornsilk;
    border: none;

    transition: 200ms ease-in-out;

    animation: jump-breathing 2s ease-in-out infinite alternate;

    &:hover {
        background-color: cornsilk;
        color: teal;
        
        animation-play-state: paused;
        transform: translate(-50%) scale(1.1);
        box-shadow: 0 0 .4em 0 #054d87;
    }
}

@media (max-width: 951px) {
    .pricing-container {
        flex-direction: column;
        & .pricing-container-item {
            margin: 2em 1em;
            width: 80vw;

            &:first-child  {
                border-top-right-radius: .3em;
                border-bottom-right-radius: .3em;
                border-right: 1px solid #000;

                transform-origin: center;
            }

            &:last-child {
                border-top-left-radius: .3em;
                border-bottom-left-radius: .3em;
                border-left: 1px solid #000;

                transform-origin: center;
            }
        }
    }
}

@keyframes jump-breathing {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -10px);
    }
}